
  .mand__title {
      text-align: center;
      background-color: #4A4949;
      color: #FFAE4D;
      margin-top: 0;
      height: 40px;
      position: sticky;
      top: 0;
  }


  /*Product cards */

.product__section {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 15px;
    justify-content: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    background-color: #FFAE4D;
    margin: 5px;
  }
  

  .card__paragraph {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4A4949;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .card img {
    width: 100%;
  }

  .card__image {
    margin-bottom: 58%;
  }

  .card__image-kvinde {
    margin-bottom: 5%;
  }

  /* Product container -header+sort  */

  .product__container {
      margin: 0px;
  }

  .product__filter {
    display: flex;
    margin-top: 30px;
    background-color: #4A4949;
    align-items: center;
  }

  .product__filter {
      color: #FFAE4D;
  }

  .product__filter h1 {
    flex-grow: 1;
    margin-left: 10px;
  }

  .sort {
    display: flex;
  }

  .collection__sort {
    display: flex;
    flex-direction: column;
  }

  /* Product container -products layout  */

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .product__image img {
    max-width: 100%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product__card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: #FFAE4D;
    border: 0.5px solid grey;
    display: flex; 
    flex-direction: column;
    text-align: center;
  }

  .product__info {
    margin-top: auto;
  }

  /* Select the first two , two enlarge first two products */
.products .product__card:first-child {
  flex: 2 46%;
} 


