@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, html{    
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: "NanumGothic";
}

/* For at styre pa afstand mellem elementerne */
.slider, .manWoman__flex-container, .giftCard__container, .news, .eco__section, .footer {
  margin-top: 34px;
}

.nav-bg {
  background: #3f5f6a url(../assets/backgroundHeader.jpeg);
  background-repeat: no-repeat;
  padding-bottom: 8em;
  background-position: 50% 100%;
  background-size: cover;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  height: 90.5px;
  width: 81px;
  display: inline-block;
  margin-left: -30px;
  left: 50%;

  top: 20%;
}

.fa-shopping-cart {
  font-size: 30px;
  position: absolute;
  left: 89%;
  top: 60%;
  color: #FFAE4D;
}


/* Okobar */

.okobar__link {
  width: 100vw;
}

.greywolf__title {
  text-align: center;
  position: sticky;
  height: 40px;
  top: 0;
  background-color: white;
  z-index: 998;
  font-family: "NanumGothic";
  font-weight: bold;
}

.nyhedsbrev__container {
  display: flex;
  justify-content: center;
}


/* Slideshow */

.slider img {
  width: 100%;
  height: 320px;
}

.slider {
  width: 100vw;
  height: 320px;
  margin: 20px auto;
  position: relative;
}

.button {
  padding: 10px;
  border: none;
  background: none;
  font-size: 70px;
  color: #FFAE4D;
  position: absolute;
  top: 33%;
  cursor: pointer;
}

/* button appereance */
.next {
  margin-left: 89vw;
}

.shopNow__button {
  padding: 10px;
  border: none;
  background: #FFAE4D;
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: "NanumGothic";
  font-weight: bold;
  top: 83%;
  right: 37%;
  border-radius: 32px;
}


/* mand/kvinde */


.manWoman__flex-container {
  display: flex;
  height: auto;
  width: 100%;
}
  

  .manWoman__container img {
    width: 100%;
    height: 100%;
  }
  

  .manWoman__container {
    position: relative;
    margin: 0 auto; /* Center it */
    padding: 0px;
    background-color: #f1f1f1;
    position: relative;
    width: 100%;
  }
  
  .manWoman__container .btn {
    position: absolute;
    top: 70%;
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: #FFAE4D;
    color: white;
    font-size: 16px;
    font-family: "NanumGothic";
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
  }

/* Gavekort */

.giftCard__container {
  width: 100%;
  max-height: 300px;
  background-color: #707070;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #707070;
}

.giftCard__titleContainer {
  width: 100%;
  color: #FFAE4D;
  text-align: center;
  background-color: white;
  position: relative;
}

.giftCard__titleContainer img {
  position: absolute;
  height: 45.25px;
  width: 40.5px;
  display: inline-block;
  left: 80%;
  top: 20%;
}

.giftCard__contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.giftCard__container button {
  background-color: #FFAE4D;
  color: white;
  font-size: 16px;
  font-family: "NanumGothic";
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 6px;

}
.giftCard__container h2 {
  margin-bottom: 6px;
}

/* Nyheder */

.news {
  width: 100%;
  text-align: center;
}

.news__pictureContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin: 5px;
}

.news__pictureContainer img {
  width: 100%;
  height: 235px;
}


/* Nyhedsbrev */
.newsletter__container > div {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.newsletter__container {
  margin-top: 0;
  text-align: center;
}



.newsletter__name,.newsletter__email, .newsletter__submit {
  width: 60%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
}

.newsletter__submit {
  background-color:#FFAE4D;
  color: white;
  border: none;
}

.newsletter__submit:hover {
  opacity: 0.8;
}



/* eco sektionen */
.eco__section {
  padding: 20px;
  background-color: #31645B;
  text-align: center;
  color: white;
  margin-top: 34px;
}

.eco__content p {
  font-family: "Roboto";
}


.responsive{
  width: 100%;
  height: auto;
}


/* Footer  */


.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #31645B;
  color: white;
  max-width: 100%;
}

.footer__container--first {
  text-align: center;
  padding: 16px;
  align-items: center;
}


.footer__floatContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__floatContainer img {
  height: 50%;
  width: 50%;
  border-radius: 16px;
  align-self: center;
}

.footer__container--second {
  text-align: center;
  margin-top: 15px;
}

.footer__container--second-icons {
  display: flex;
  justify-content: center;
}


.fa {
  padding: 16px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
