@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

/* dark:#171717    light #FFFFFF */
.hero-bg {
  background: #3f5f6a url(../backgroundHeader.jpeg);
  background-repeat: no-repeat;
  padding-bottom: 8em;
  background-position: 50% 100%;
  background-size: cover;
  width: 100%;
  position: relative;
}

/* husk, at du skal bruge denne gradient templat orange 30%, #707070, white, sa uundvaerer du den maerkelig hvid bar i bunden */
.gradient {
  background-image: linear-gradient(white 20%, #707070, white);
}

.logo {
  position: absolute;
  height: 90.5px;
  width: 81px;
  display: inline-block;
  margin-left: -30px;
  left: 50%;

  top: 20%;
}

.fa-shopping-cart {
  font-size: 30px;
  position: absolute;
  left: 91%;
  top: 60%;
}


/* Okobar */

.okobar__link {
  width: 100vw;
}

.NavbarAndEcobar__Merge {
  display: flex;
  flex-direction: column;
}

.nyhedsbrev__container {
  display: flex;
  justify-content: center;
}


/* Slideshow */

.slider img {
  width: 100%;
  height: 480px;
}

.slider {
  width: 100vw;
  height: 500px;
  margin: 20px auto;
  position: relative;
  border: 10px solid white;
  box-shadow: 0px 0px 5px 2px #ccc;
  margin-bottom: 50px;
}

.button {
  padding: 10px;
  border: none;
  background: none;
  font-size: 90px;
  color: orange;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

/* button appereance */
.next {
  margin-left: 81vw;
}

.shopNow__button {
  padding: 10px;
  border: none;
  background: orange;
  font-size: 30px;
  position: absolute;
  top: 87%;
  right: 33%;
  border-radius: 32px;
}

.shopNow__button a {
  color: white;
}



/* Footer  */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.footer {
  height: 30%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #3f5f6a;
  color: white;
  margin-top: 50px;
  position: absolute;
  width: 100vw;
}

.footer__container--first {
  text-align: center;
  padding: 16px;
  align-items: center;
}

.footer__container--second {
  text-align: center;
  align-self: flex-start;
  margin-top: 15px;
}

.footer__floatContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__floatContainer img {
  height: 35%;
  width: 35%;
  border-radius: 16px;
  align-self: center;
}

.billeder__container {
  display: flex;
  height: 400px;
}


@media screen and (max-width: 450px) {
  .footer {
    width: 420px;
  }
}