@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

/* dark:#171717    light #FFFFFF */
.hero-bg {
  background: #3f5f6a url(../backgroundHeader.jpeg);
  background-repeat: no-repeat;
  padding-bottom: 8em;
  background-position: 50% 100%;
  background-size: cover;
  width: 100%;
  position: relative;
}

/* husk, at du skal bruge denne gradient templat orange 30%, #707070, white, sa uundvaerer du den maerkelig hvid bar i bunden */
.gradient {
  background-image: linear-gradient(white 20%, #707070, white);
}

.logo {
  position: absolute;
  height: 90.5px;
  width: 81px;
  display: inline-block;
  margin-left: -30px;
  left: 50%;

  top: 20%;
}

.fa-shopping-cart {
  font-size: 30px;
  position: absolute;
  left: 89%;
  top: 60%;
}


/* Okobar */

.okobar__link {
  width: 100vw;
}

.greywolf__title {
  text-align: center;
  position: sticky;
  height: 40px;
  top: 0;
  background-color: white;
  z-index: 998;
}

.nyhedsbrev__container {
  display: flex;
  justify-content: center;
}


/* Slideshow */

.slider img {
  width: 100%;
  height: 320px;
}

.slider {
  width: 100vw;
  height: 320px;
  margin: 20px auto;
  position: relative;
  margin-bottom: 30px;
}

.button {
  padding: 10px;
  border: none;
  background: none;
  font-size: 70px;
  color: #FFAE4D;
  position: absolute;
  top: 33%;
  cursor: pointer;
}

/* button appereance */
.next {
  margin-left: 89vw;
}

.shopNow__button {
  padding: 10px;
  border: none;
  background: #FFAE4D;
  font-size: 20px;
  position: absolute;
  top: 83%;
  right: 37%;
  border-radius: 32px;
}

.shopNow__button a {
  color: white;
}

/* Gavekort */

.giftCard__container {
  width: 100%;
  height: 200px;
  background-color: #707070;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.giftCard__titleContainer {
  width: 100%;
  color: #FFAE4D;
  text-align: center;
  background-color: white;
  height: 200px;
  position: relative;
}

.giftCard__titleContainer img {
  position: absolute;
  height: 45.25px;
  width: 40.5px;
  display: inline-block;
  left: 80%;
  top: 20%;
}

.giftCard__container button {
  background-color: #FFAE4D;
  color: white;
  border-radius: 32px;
  padding: 10px;
  font-size: 30px;
}
.giftCard__container h2 {
  margin-bottom: 0;
}

/* Nyheder */

.news {
  width: 100%;
  text-align: center;
}

.news__pictureContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.news__pictureContainer img {
  width: 100%;
  padding: 8px;
}



/* Nyhedsbrev */
.newsletter__container > div {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.newsletter__container {
  margin-top: 0;
  margin-bottom: 30px;
}



.newsletter__name,.newsletter__email, .newsletter__submit {
  width: 60%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
}

.newsletter__submit {
  background-color:#FFAE4D;
  color: white;
  border: none;
}

.newsletter__submit:hover {
  opacity: 0.8;
}


/* mand/kvinde */


.flex__container {
  display: flex;
  height: 100%;
  width: 100%;
}
  
  /* Make the image responsive */
  .manWoman__container img {
    width: 100%;
    height: 100%;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .manWoman__container {
    position: relative;
    margin: 0 auto; /* Center it */
    padding: 0px;
    background-color: #f1f1f1;
    position: relative;
    width: 100%;
  }
  
  .manWoman__container .btn {
    position: absolute;
    top: 70%;
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: #FFAE4D;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .manWoman__container .btn:hover {
    background-color: black;
  }


/* eco sektionen */
.eco__section {
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.separator {
  margin-bottom: 50px;
}


.responsive{
  width: 100%;
  height: auto;
}


/* Footer  */
.fa {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.footer {
  height: 30%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #3f5f6a;
  color: white;
  margin-top: 50px; 
  position: absolute;
  width: 100vw;
}

.footer__container--first {
  text-align: center;
  padding: 16px;
  align-items: center;
}

.footer__container--second {
  text-align: center;
  align-self: flex-start;
  margin-top: 15px;
}

.footer__floatContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__floatContainer img {
  height: 35%;
  width: 35%;
  border-radius: 16px;
  align-self: center;
}

.billeder__container {
  display: flex;
  height: 400px;
}


@media screen and (max-width: 450px) {
  .footer {
    width: 420px;
  }
}